.page {
  padding: 60px 60px;
  background: #f4f7fa;
  min-height: 80vh;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.booking-card {
  //background: white;
  padding: 80px 60px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.booking-card:hover {
  transform: translateY(-5px);
}

.booking-card button {
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  //background: #0072ff;
  color: white;
  cursor: pointer;
}
